<!-- Title -->
<h1 class="box" id="heading">You Are Authenticated</h1>

<!-- Button to continue to the to-do list service -->
<div class="text-center">
  <form class="" action="/all-items" method="get">
      <button type="submit" name="button" class="btn btn-primary btn-lg text-center">Continue to the Service</button>
  </form>
</div>
