<!-- Title section -->
<div class="box" id="heading">
  <h1>Your To-Do List: Home Page</h1>
</div>

<!-- Providing option to look at registered users -->
<p class="action-text"><a href="/users">Take a Look at Users Who are Already Registered</a></p>

<!-- An entire container to hold both the register and login forms/divs -->
<div class="container text-center">

  <!-- Register div -->
  <div class="register-login">
    <form class="" action="/register" method="post">
      <input type="text" name="newUser" class="form-control bottom">
      <button type="submit" name="button" class="btn btn-primary">Register</button>
    </form>
  </div>

  <!-- Login div -->
  <div class="register-login">
    <form class="" action="/auth" method="post">
      <input type="text" name="logUser" class="form-control bottom">
      <button type="submit" name="button" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
